
<h1><%= @user.username %>'s profile </h1>

	<p>	
    	<h6> First name:		<%= @user.first_name %></h6>	
    	<h6> Last name:			<%= @user.last_name %></h6>
    	<h6> Email:				<%= @user.email %></h6>	
    	<h6> Phone number:		<%= @user.phone %></h6>
    	<h6> Profession:		<%= @user.profession %></h6>
    	<h6> How much experience do you have:
    							<%= @user.experience_level %></h6>
    	<h6> Bio:				<%= @user.further_information %></h6>
    	<h6> Groups you are in:	<%= @user.group_id %></h6>
    </p>
   
